* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(198, 23%, 78%);
}
.main-div {
  min-height: 97vh;
  position: relative;
}

.header {
  display: flex;

  background-color: whitesmoke;
  color: grey;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px 15px;
  font-size: 1rem;
  border-bottom: 1px solid grey;
}
.note-icon {
  padding: 10px 15px;

  color: grey;
  font-size: 5px;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;

  cursor: pointer;
}
footer p {
  position: absolute;

  bottom: 0;
}
.main-note form {
  width: 300px;
  height: 18vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 1rem;
  border-radius: 1rem;
}

#title {
  border: none;
  color: grey;
  font-size: 1em;
  padding: 5px;
  font-weight: 600;
  outline-style: none;
  border-radius: 5px;
}
#textarea {
  border: none;
  color: grey;
  font-size: 1rem;
  padding: 5px;
  font-weight: 400;
  outline-style: none;
  margin: 1rem;
  border-radius: 5px;
  position: relative;
}
.btn-plus {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}
.plus-sign {
  background-color: white;
  color: grey;
  border-radius: 50%;
  background-color: transparent;
}
.plus-sign:hover {
  border-radius: 50%;
  color: yellowgreen;
  background-color: white;
}
.notes {
  width: 250px;

  height: 20vh;
  background-color: whitesmoke;
  margin: 3rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.notes h1 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: grey;
}
.notes p {
  color: grey;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.btn {
  width: 50px;
  border: none;
  float: right;
  background-color: transparent;
  color: grey;
  align-self: flex-end;
  cursor: pointer;
}
.btn :hover {
  color: yellowgreen;
  border-radius: 50%;
  background-color: white;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
